{% extends "public/templates/public_template.html" %}

{% block title %}About the Fox Tooling Database{% endblock %}

{% block main %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>The Fox Tooling Database</h1>
        </div>
        <div class="col">
            <p>
                The Fox tooling database was started by Manufacturing and Software Engineer Thomas Mulrooney in 2020. It
                ended development in 2021 and was forked back into development by the Fox Automaton Team in 2022. It
                continues
                development.
            </p>
        </div>
    </div>

</div>

{% endblock %}